* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  background-color: #ff0000;
  display: grid;
  grid-template-rows: repeat(1fr, 1fr, 2fr);
}
.quotes-family {
  position: relative;
  background-color: #3d3d3d;
  width: 100%;
  /* height: 200px; */
}
.quotes {
  padding-top: 30px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.quotes-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 40px;
  padding: 0 10px;
  font-size: 17px;
  outline: none;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(15, 15, 15);
  font-weight: 600;
}
.quotes-button:hover {
  background-color: #ffffff;
}
.pop-up {
  opacity: 0;
  background-color: #f3f3f3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(60px, 23px);
  padding: 5px 7px;
  border-radius: 13px;
  font-weight: 500;
  transition: all 0.3s;
}
.pop-up::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #f3f3f3;
  left: -3px;
  top: 40%;
  transform: rotate(45deg);
}
.pop-up span {
  color: #080808;
}
.quotes-button:hover + .pop-up {
  opacity: 1;
}
.quotes-button:active + .pop-up {
  opacity: 0;
}
.text-box {
  position: relative;
  /* height: 200px; */
  width: 100%;
  background-color: #efff0b;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  margin: 8px;
  border-radius: 7px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 5px;
  outline: none;
}
input::placeholder {
  font-size: 20px;
  color: #818181;
}
#input-box-1 {
  background-color: #13ff1e;
  border: 3px solid #363636;
}
#input-box-2 {
  background-color: #28fff4;
  border: 3px solid #252525;
  color: #181818;
}
.pop-up-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-245px, -76px);
  background-color: #363636;
  width: 180px;
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 3px 3px;
  /* visibility: hidden; */
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s;
}
#input-box-1:hover + .pop-up-textbox {
  opacity: 1;
  /* visibility: visible; */
}
.dropdown-list {
  background-color: #13ff1e;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 430px; */
  padding-top: 50px;
}
.dropdown-list .cards {
  position: relative;
  background-color: #000000;
  width: auto;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-list .cards:hover .dropdown-popup {
  opacity: 1;
  /* background-color: #494949; */
}
.cards .dropdown-popup {
  opacity: 0;
  position: absolute;
  background-color: #070707;
  font-size: 19px;
  font-weight: 400;
  border-radius: 9px;
  padding: 1px 5px;
  padding-right: 8px;
  transform: translate(-217px, -35px);
  transition: all 0.2s;
}
.cards .dropdown-popup::before {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  transform: rotate(45deg);
  background-color: #000000;
  left: 97%;
  top: 9px;
}
.dropdown-list .cards + .do-not ul li {
  visibility: hidden;
  height: 0;
}
.dropdown-list .cards + .teams {
  background-color: rgb(238, 238, 238);
  width: 455px;
}
.teams ul {
  list-style: none;
}
.dropdown-list .cards + .teams ul li {
  border-top: 1px solid #3a3a3a;
  text-align: center;
  height: 50px;
  font-weight: 600;
  font-size: 21px;
  padding-top: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-list .cards + .teams ul li:hover {
  background-color: #ff9191;
  transform: scale(1.05);
}
.donot-show {
  display: none;
}
.semifinal-stats {
  position: absolute;
  width: 455px;
  padding: 6px 0;
  background-color: #ffffff;
  transform: translateY(-98px);
}
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.first-inn-stats,
.second-inn-stats {
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 600;
}
.Inning {
  padding-top: 7px;
  text-align: center;
  border-bottom: 1px dotted black;
}
.finalize {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cross {
  position: relative;
  transform: translate(425px, -0px);
  height: 20px;
  width: 20px;
  z-index: 1000;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  color: #818181;
}
